node_modules/
dist/
build/
.vite/
.env
*.log
package-lock.json_trash*
frontend/_git_backup/
frontend/.env.local
frontend/.env.production
frontend/.env.development
frontend/.env
backend/.env
backend/.env.local
backend/.env.production
backend/.env.development
backend.zip
.DS_Store
